<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/style.css">
    <title>littify | Super Hosting Experience</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo"><a href="/index" font-family="monospace">Litty /></a></h1>
            
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/docs">Docs</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/login"><i class="fas fa-user-tie"></i></a></i>
                    </li>
                </ul>
            </nav>
        </div>
    </div>