<%- include("partials/header.ejs"); -%>

    <!-- Head -->
    <section class="docs-head bg-primary py-3">
        <div class="container grid">
            <div>
                <h1 class="xl">Docs</h1>
                <p class="lead">
                    Learn to work with the Litify Platform                
                </p>
            </div>
            <img src="images/docs.png" alt="">
        </div>
    </section>

    <!-- Docs main -->
    <section class="docs-main my-4">
        <div class="container grid">
            <div class="card bg-light p-3">
                <h3 class="my-2">Essentieals</h3>
                <nav>
                    <ul>
                        <li><a class="text-primary" href="#">Introduction</a></li>
                        <li><a href="#">About Litify</a></li>
                        <li><a href="#">Installation</a></li>
                    </ul>
                </nav>

                <h3 class="my-2">Deployment</h3>
                <nav>
                    <ul>
                        <li><a href="#">Setting up a container</a></li>
                        <li><a href="#">Using the CLI</a></li>
                        <li><a href="#">Upgrade & Downgrade</a></li>
                    </ul>
                </nav>
            </div>

            <div class="card">
                <h2>Introduction</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi inventore molestias tempore maxime? Explicabo eos rem temporibus fuga maiores cumque, in 
                    aut magnam nisi nobis non omnis cupiditate ducimus exercitationem?7
                </p>
                <div class="alert alert-success">
                    <i class="fas fa-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, adipisci. </i>
                </div>

                <h3>Lorem, ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, minus quod! Tenetur consequatur sequi aspernatur harum laudantium atque odit animi?</p>
                <a href="#" class="btn btn-primary">Install CLI</a>

                <h3>Requirements</h3>
                <ul>
                    <li>Windows 10, Mac OSX, Linux</li>
                    <li>Node.js v12 or higher</li>
                </ul>

                <h3>Install</h3>
                <p>Mac (Homebrew)</p>
                <pre><code>$ brew intsall litify-cli</code></pre>

                <p>NPM</p>
                <pre><code>$ npm intsall litify-cli</code></pre>

                <p>Yarn</p>
                <pre><code>$ brew intsall litify-cli</code></pre>

            </div>
        </div>
    </section>
   
    
    <!-- Footer -->
    <%- include("partials/footer.ejs"); -%>