<%- include("partials/header.ejs"); -%>

    <!-- Head -->
    <section class="features-head bg-primary py-3">
        <div class="container grid">
            <div>
                <h1 class="xl">Features</h1>
                <p class="lead">
                    Check out the features of litify that seperate us from the competition
                </p>
            </div>
            <img src="images/server.png" alt="">
        </div>
    </section>

    <!-- Sub head -->
    <section class="features-sub-head bg-light py-3">
        <div class="container grid">
            <div>
                <h1 class="md">The Litify Platform</h1>
                <p class="sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Dolorem exercitationem voluptates possimus ullam corporis magnam laudantium, commodi accusantium quis pariatur itaque perspiciatis 
                    sit fugiat natus asperiores ipsum quasi tempore at.
                </p>
            </div>
            <img src="images/server2.png" alt="">
        </div>
        </div>
    </section>

    <!-- main -->

    <section class="features-main my-2">
        <div class="container grid grid-3">
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 A ab, facilis corporis vero ipsam quia necessitatibus repellendus nulla rem deleniti 
                impedit officiis quasi quae! Saepe fuga ratione quod sunt tempore!
            </div>

            <div class="card flex">
                <i class="fas fa-network-wired fa-3x"></i>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                    recusandae perferendis culpa, reiciendis a itaque debitis qui vel
                    dignissimos ipsum!
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-laptop-code fa-3x"></i>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
                    magnam.
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-database fa-3x"></i>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, a!
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-power-off fa-3x"></i>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
                    magnam.
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-upload fa-3x"></i>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
                    magnam.
                </p>
            </div>
        </div>
    </section>
    
    <%- include("partials/footer.ejs"); -%>